.dashboard-tile-wrapper {
    display: inline-block;
    background-color: #fff;
    width: 200px;
    height: 150px;
    margin: var(--padding-10);
    border-radius: var(--padding-10);
    background-color: #fff;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 3px 1px;
    border: 1px solid #e2e2e2;
}